/* 1 rem = 16 pixels */
*{
    background-color: rgb(50, 50, 50);
}
.register-form-container{
    display: grid;
    margin-top: 16px;
    justify-content: center;
    align-content: center;
    min-height: 80vh;

}
.register-header{
    font-size: 36px;
    color: yellowgreen;
    margin: 20px auto;
}
.register-form{
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
    justify-content: center;
}
.register-form > input{
    text-align: center;
}
.register-button{
    display: grid;
    margin: auto;
    width: 30%;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}