*{
     background-color: rgb(51, 51, 51);
    /* color: white; 
     text-shadow: 
-1px -1px 0 #000, 
1px -1px 0 #000, 
-1px 1px 0 #000,
1px 1px 0 #000; */ 
}
.form-container{
    display: flex;
    padding: 1rem;
    justify-content: center;
}
.form-container > form > button{
    width: 120px;
}
form{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 60%;
    gap: 1rem;
}
form > button{
    display: grid;
    grid-column: span 2;
}
label{
    background-color: lightslategray;
    padding-top: 1vmin;
    border-radius: 20%;
}
input{
    background-color: white;
    border: solid grey;
    color: black;
    padding: 1vmin 0 1vmin 0;
    text-shadow: none;
    font-size: larger;
}
button{
    background-color: darkslategray;
    border-radius: 25%;
    color: yellowgreen;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover {
    background-color: yellowgreen;
    color: darkslategray;
    border-radius: 50%;
}