.map-container {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;
	grid-template-rows: 0.2fr 0.2fr;
	gap: 0px 0px;
	grid-template-areas:
		'a b'
		'a b';
	padding: 20px;
	align-content: space-evenly;
    justify-content: center;
    align-content: center;
	background-color: rgb(50, 50, 50)
}

.info-container {
margin-top: 40px;
}
