/* *{
    border: 1px solid red;
} */
.event-page{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h2{
    font-size: 40px;
}
.event-page-container-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
}
.event-page-container-top > button{
    display: grid;
    margin: 10px auto;
    justify-content: center;
    align-self: center;
    align-content: center;
    height: 100px;
    width: 200px;
    border-radius: 20px;
    font-size: 28px;
}
.logo{
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 8px;
    font-size: 36px;
}
.logo-img{
    width: 35rem;
}
.event-page-container-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.event-desc-container{
    display: grid;
    align-content: start;
    margin: 8px;
    height: 400px;
    background-color: rgb(152, 152, 152);
    border-radius: 16px;
}
.event-desc-header, .attendees-header{
    display: grid;
    align-self: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
}
.event-desc-body{
    display: grid;
    text-align: left;
    text-indent: 24px;
    font-size: 20px;
    padding: 0 10px;
    background-color: transparent;
    text-shadow: none;
}
.attendees-container{
    margin: 8px;
    background-color: rgb(152, 152, 152);
    border-radius: 16px;
}
.list-of-attendees{
    display: grid;
    justify-content: center;
    grid-template-columns: 160px 180px;
    background-color: transparent;
}
.list-of-attendees > div{
    display: grid;
    text-align: left;
    font-size: 20px;
    padding: 4px;
    background-color: transparent;
    text-shadow: none;
}
