.delete-button{
    color: whitesmoke;
    background-color: darkred;

}
.delete-button:hover{
    border-radius: 10px;
    background-color: red;
    color: white;
}
.edit-button{
    color: whitesmoke;
    background-color: darkgreen;

}
.edit-button:hover{
    border-radius: 10px;
    background-color: green;
    color: white;
}
h2{
    margin-bottom: 10px;
}
hr {
    width: 100%;
    background-color:black;
    height: 10px;
    margin: 0;
    padding: 0px;
    border: none;
}
.user-attendees{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    background-color: rgb(50, 50, 50);
    padding: 25px;
    border: solid white;
    border-width: 5px;
}
.name-label{
    color: yellow;
}
.location-label{
    color: lightblue;
    
}