.top-nav{
    display: flex;
    width: 100%;
    justify-content: center;
}
nav{
    font-family: sans-serif;
    color: yellow;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
}
.link{
    color: lightblue;
    font-size: 1.8rem;
    background-color: black;
}
.link:hover{
    color:aliceblue;
}
.welcome{
    font-size: 2.3rem;
    font-style: italic;
    color: yellow;
    background-color: black;
}