
.top-nav-container{
    background-color: black;
}
.top-nav{
    display: flex;
    align-items: center;
    max-width: 1280px;
    /* width: 100vw; */
    background-color: black;
}
nav{
    font-family: sans-serif;
    color: yellow;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0px;
    padding: 1rem;
    /* width: 100vw; */
}
.welcome{
    font-size: 1.8rem;
    font-style: italic;
    color: yellow;
    background-color: black;
    padding: 0 1rem;
}
.link{
    color: lightblue;
    font-size: 1.8rem;
    background-color: black;
    padding: 0 20px;
}
.link:hover{
    color:aliceblue;
}
.divider{
    color: yellow;
    font-size: x-large;
}